<%= render "shared/banner"%>
<div id="show-courses"></div>
  <div class="container">
    <div class="section-title mt-4">
    <h2><%= t('home.categories') %></h2>
  </div>
  <div class="courses">
    <div class="row">
      <%= render @categories %>
    </div>
  </div>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @categories %>
</div>

<%= render "about" %>
